.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #353b48;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn{
    color: #008C48;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
.search-txt{
    border: none !important;
    background: none !important;
    outline: none !important;
    float: left !important;
    padding: 0 !important;
    color: white !important;
    font-size: 16px !important;
    transition: 0.4s !important;
    line-height: 40px !important;
    width: 0px ;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-bnt{
    background: white;
}
body{
    margin: 0;
    padding: 0;
    background: green;
}